body {
    background-color:#22252b
}
body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 60px;
    font-size: 1.4em; 
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 25px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s
}

.nav-link-wrapper a {
    color: #F8F8FF;
    text-decoration: none;
    transition: color 0.2s;
}
.nav-link-wrapper:hover {
    border-bottom: 2px solid #E00000;
}

.nav-link-wrapper a:hover {
    color: #E00000;
}
